spring.application.name=${APP_NAME}

# Database
spring.sql.init.mode=${SQL_INIT_MODE}
spring.jpa.defer-datasource-initialization=${DEFER_DATASOURCE_INITIALIZATION}

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=${DB_DRIVER}
spring.jpa.show-sql=${SHOW_SQL}
spring.jpa.properties.hibernate.format_sql=${FORMAT_SQL}
spring.jpa.hibernate.ddl-auto=${DDL_AUTO}

# JWT
jwt.public.key=${JWT_PUBLIC_KEY}
jwt.private.key=${JWT_PRIVATE_KEY}

# Security
security.jwt.secret=${JWT_SECRET}
security.jwt.expiration=${JWT_EXPIRATION}
security.jwt.header=${JWT_HEADER}
security.jwt.prefix=${JWT_PREFIX}

# Redis
spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}

# Environment
spring.config.import=optional:file:.env[.properties]

server.port=${PORT}

# swagger-ui custom path
springdoc.swagger-ui.protocol=${SWAGGER_PROTOCOL}
spring.mvc.static-path-pattern=${SWAGGER_PATH_PATTERN}
springdoc.swagger-ui.path=${SWAGGER_UI_PATH}